In [12]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('./actorfilms.csv')

# print(f'from : {df['Year'].min()}, to {df['Year'].max()}')
df['Year'].mean()

1997.9529480437582

In [25]:
df['FilmID'== "tt0371746" ]

0         False
1         False
2         False
3         False
4         False
          ...
191868    False
191869    False
191870    False
191871    False
191872    False
Name: FilmID, Length: 191873, dtype: bool

In [26]:
! pip install cinemagoer

Defaulting to user installation because normal site-packages is not writeable
Collecting cinemagoer
  Downloading cinemagoer-2023.5.1-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.2/297.2 kB 262.2 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Collecting SQLAlchemy (from cinemagoer)
  Downloading SQLAlchemy-2.0.18-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 265.9 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: lxml in /home/selector/.local/lib/python3.10/site-packages (from cinemagoer) (4.9.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/selector/.local/lib/python3.10/site-packages (from SQLAlchemy->cinemagoer) (4.3.0)
Collecting greenlet!=0.4.17 (from SQLAlchemy->cinemagoer)
  Using cached greenlet-2.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (613 kB)
Installing collected packages: greenlet, SQLAlchemy, cinemagoer
Successfully installed SQLAlchemy-2.0.18 cinemagoer-2023.5.1 greenlet-2.0.2

In [34]:
from imdb import Cinemagoer

# create an instance of the Cinemagoer class
ia = Cinemagoer()

# get a movie
movie = ia.get_movie('0948470')
movie
# # print the genres of the movie
# print('Cast:')
# for genre in movie['cast']:
#     print(genre)

In [19]:
df.head()

,Actor,ActorID,Film,Year,Votes,Rating,FilmID
0,Fred Astaire,nm0000001,Ghost Story,1981,7731,6.3,tt0082449
1,Fred Astaire,nm0000001,The Purple Taxi,1977,533,6.6,tt0076851
2,Fred Astaire,nm0000001,The Amazing Dobermans,1976,369,5.3,tt0074130
3,Fred Astaire,nm0000001,The Towering Inferno,1974,39888,7.0,tt0072308
4,Fred Astaire,nm0000001,Midas Run,1969,123,4.8,tt0064664