In [21]:
!pip install cinemagoer

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: cinemagoer in /home/selector/.local/lib/python3.10/site-packages (2023.5.1)
Requirement already satisfied: SQLAlchemy in /home/selector/.local/lib/python3.10/site-packages (from cinemagoer) (2.0.18)
Requirement already satisfied: lxml in /home/selector/.local/lib/python3.10/site-packages (from cinemagoer) (4.9.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/selector/.local/lib/python3.10/site-packages (from SQLAlchemy->cinemagoer) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/selector/.local/lib/python3.10/site-packages (from SQLAlchemy->cinemagoer) (2.0.2)

In [31]:
# Imports ->
import pandas as pd
import numpy as np
from imdb import Cinemagoer , IMDb

In [25]:
df_cast = pd.read_csv('../actorfilms.csv')
df_cast.head()

,Actor,ActorID,Film,Year,Votes,Rating,FilmID
0,Fred Astaire,nm0000001,Ghost Story,1981,7731,6.3,tt0082449
1,Fred Astaire,nm0000001,The Purple Taxi,1977,533,6.6,tt0076851
2,Fred Astaire,nm0000001,The Amazing Dobermans,1976,369,5.3,tt0074130
3,Fred Astaire,nm0000001,The Towering Inferno,1974,39888,7.0,tt0072308
4,Fred Astaire,nm0000001,Midas Run,1969,123,4.8,tt0064664

In [26]:
new_df = df_cast[['FilmID', 'Year']]
unique_df = new_df.drop_duplicates(subset=['FilmID'])

unique_df

            FilmID  Year
0        tt0082449  1981
1        tt0076851  1977
2        tt0074130  1976
3        tt0072308  1974
4        tt0064664  1969
...            ...   ...
191842   tt7341842  2017
191843   tt4844288  2015
191848  tt10350626  2020
191849  tt10230404  2020
191850   tt7638344  2018

[44456 rows x 2 columns]

In [32]:
ia = IMDb()

In [45]:
def get_imdb_data(film_id):
    film_id = film_id.lstrip('tt')
    try:
        movie = ia.get_movie(film_id)
        genre = movie['genres'][0] if 'genres' in movie else None
        cast = [actor['name'] for actor in movie['cast']][:10] if 'cast' in movie else None
        director = movie['director'][0]['name'] if 'director' in movie else None
        return genre, cast, director
    except Exception as e:
        print(f"Error getting data for film {film_id}: {e}")
        return None, None, None

In [ ]:
unique_df['Genre'], unique_df['Cast'], unique_df['Director'] = zip(*unique_df['FilmID'].apply(get_imdb_data))